body {
    background-color: #fff;
    font-family: 'Roboto Slab';
}

.navbar {
    justify-content: space-between;
    padding: 0 15px;
    /* Sesuaikan jarak antara logo dan menu jika diperlukan */
}

.navbar-brand {
    margin-right: auto;
    /* Logo akan rata kiri */
}

.navbar-nav {
    margin-left: auto;
    /* Menu akan rata kanan */
}

.navbar {
    transition: all 0.5;
}

.nav-link {
    color: #2f3082 !important;
    font-weight: bold;
    padding-top: 5px;
}

.navbar-scrolled {
    background-color: #333;
    color: #fff !important;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.20);
}

.navbar-scrolled .nav-link {
    color: #fff !important;
}

/* Custom CSS for the header */
.cover {
    position: relative;
    height: 100vh;
    /* Adjust the height as needed */
    background-size: cover;
    background-position: center;
    color: #fff;
}

.bg-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    filter: brightness(0.6);
    /* Adjust the opacity of the background image */
}

.cover-half {
    position: relative;
    height: 25vh;
    /* Adjust the height as needed */
    background-size: cover;
    background-position: center;
    color: #fff;
}

.bg-img-half {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    filter: brightness(0.6);
    /* Adjust the opacity of the background image */
}

.hero {
    position: relative;
    text-align: center;
    padding: 100px 0;
    /* Adjust the padding as needed */
}

.hero h1 {
    font-size: 3rem;
    font-weight: bold;
}

.card-about {
    border: 0px;
}

.img-radius,
.about-radius {
    border-radius: 0px 0px 0px 0px;
}

.about-glance,
.about-text {
    color: #2f3082;
}

/* Untuk tablet dan di atasnya */
@media (min-width: 768px) {
    .desktop-left {
        text-align: left;
    }

    .mobile-center {
        text-align: left;
        /* Sesuaikan dengan tata letak yang Anda inginkan pada tablet ke atas */
    }
}

/* Untuk tampilan mobile */
@media (max-width: 767px) {
    .desktop-left {
        text-align: center;
        /* Mengubah rataan menjadi tengah untuk tampilan mobile */
    }

    .mobile-center {
        text-align: center;
    }
}

.service {
    background-color: #2f3082;
    color: #fff;
}

.service-card {
    padding-top: 10px;
    padding-bottom: 10px;
    height: 200px;
    margin-left: 10px;
    margin-right: 10px;
}

.feature-name {
    color: #2f3082;
}

.features-icon {
    color: #2f3082;
    font-size: 18px;
    text-align: center;
}

/* Styling untuk Service List */
.service-list {
    position: absolute;
    top: 18%;
    /* Sesuaikan nilai -100px dengan tinggi navbar dan margin yang diperlukan */
    right: 5%;
    /* Samakan dengan posisi kanan button email */
    text-align: right;
    /* Untuk sejajarkan ke kanan */
    color: #2f3082;
    /* Warna teks yang sesuai */
}

.service-title {
    font-size: 18px;
    /* Ukuran font judul */
    font-weight: bold;
    /* Tebal font judul */
}

.service-items {
    list-style-type: none;
    /* Jenis marker list (bisa diganti sesuai kebutuhan) */
    padding-left: 20px;
    /* Jarak dari kiri */
}

.service-items li {
    font-size: 14px;
    /* Ukuran font item list */
    margin: 5px 0;
    /* Jarak antara item list */
}

.service-card {
    border-radius: 0px !important;
}

.bumpcol:hover {
    transform: scale(1.05);
    /* Menggunakan transform scale untuk animasi zoom in */
    transition: transform 0.3s ease;
    /* Durasi dan jenis transisi */
}

.footer {
    background-color: #333;
    color: #fff;
}

.feature-card-body:hover {
    transform: scale(1.05);
    /* Menggunakan transform scale untuk animasi zoom in */
    transition: transform 0.3s ease;
    /* Durasi dan jenis transisi */
}

/* Styling kustom untuk hr */
.custom-hr {
    background-color: #fff;
    /* Warna latar belakang putih */
    height: 5px !important;
    /* Ketebalan garis */
    width: 500px;
    /* Lebar garis */
    margin: 10px auto;
    /* Spasi atas dan bawah 10px, dan tengah secara horizontal */
    border: none;
    /* Hapus border default jika ada */
}

.custom-hr-dark {
    background-color: #2f3082;
    /* Warna latar belakang putih */
    height: 5px !important;
    /* Ketebalan garis */
    width: 500px;
    /* Lebar garis */
    margin: 10px auto;
    /* Spasi atas dan bawah 10px, dan tengah secara horizontal */
    border: none;
    /* Hapus border default jika ada */
}

.text-darker {
    color: #2f3082;
    text-shadow:
        -1px -1px 0 white,
        1px -1px 0 white,
        -1px 1px 0 white,
        1px 1px 0 white;
}

.partner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(47, 48, 130, 0.5);
    /* Warna overlay dengan tingkat transparansi */
    z-index: -1;
    /* Atur z-index agar overlay ada di bawah konten */
}

.partner {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    /* Tambahkan ini */
}

.section-title {
    color: #fff;
}

.section-title-dark {
    color: #2f3082;
}

.dark {
    background-color: #2f3082;
    color: #fff;
    padding-top: 25px;
    padding-bottom: 25px;
}

.bright {
    background-color: #fff;
    color: #2f3082;
    padding-top: 25px;
    padding-bottom: 25px;
}

.service-detail-bright {
    font-size: 14px;
}

.service-title-dark,
.service-detail-dark {
    color: #2f3082;
}

.card-bright {
    background-color: #fff;
    color: #2f3082;
}

.card-dark {
    background-color: #2f3082;
    color: #fff;
}


.img-left {

    width: 100%;
    height: 320px;
}

.img-right {

    width: 100%;
    height: 320px;
}

.card-img-right,
.card-img-left,
.card-info-left,
.card-info-right {
    height: 350px;
    margin-left: 5px;
    margin-right: 5px;
    border: 0px;
}

.card-link {
    text-decoration: none;
}
