body {
    background-color: #fff;
    font-family: "Merriweather", serif;
}

.navbar {
    background-color: transparent;
    transition: background-color 0.5s;
}

.navbar-scrolled {
    background-color: #333;
}

.navbar-brand {
    margin-right: auto;
}

.navbar-toggler-icon {
    background-color: black !important;
    /* Ubah warna latar belakang menjadi hitam */
    border: none;
    /* Hapus border jika ada */
}

/* Custom CSS for the header */
.cover {
    position: relative;
    height: 100vh;
    background-size: cover;
    background-position: center;
    color: #fff;
}

.bg-img {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-repeat: no-repeat;
    /* filter: brightness(10); */
}

.hero {
    position: relative;
    text-align: center;
    padding: 100px 0;
}

.hero h1 {
    font-size: 3rem;
    font-weight: bold;
}

.btn-socmed {
    width: 150px;
    background-color: #0574db;
    color: #fff;
    border-radius: 15px 15px 15px 15px;
}

.cover-nama,
.cover-tagline {
    color: #333;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio for widescreen video */
    overflow: hidden;
}

.video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.navbrand-name,
.navbrand-tagline {
    color: #000;
    font-family: "Roboto Slab", serif;
    font-size: 18px;
    margin-left: 25px;
    font-weight: bold;
}

.cover-hero {
    position: relative;
    top: 150px;
}

.socmed-area {
    position: relative;
    bottom: 5%;
    right: 5%;
    align-items: end;
}

.socmed-btn {
    margin-left: 5px;
    margin-right: 5px;
    padding-right: 20px;
}
.collapse-img {
    padding: 10px 10px 10px 10px;
}

.company-name {
    font-weight: bolder;
}

@media (max-width: 768px) {
    .company-name,
    .collapse-img,
    .about-btn {
        align-items: center;
        color: #fff !important;
    }
}

.cover-half {
    position: relative;
    height: 18vh;
    /* Adjust the height as needed */
    background-size: cover;
    background-position: center;
    color: #fff;
}

.bg-img-half {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    filter: brightness(1);
    background-repeat: no-repeat;
    /* Adjust the opacity of the background image */
}

.nav-gradient {
    background: linear-gradient(to right, #a3b4bb, #d0dcdc) !important;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.card-noboreder {
    border: none !important;
    height: 660px;
}

.service-card {
    padding-top: 2px;
    padding-bottom: 2px;
}

.custom-hr {
    background-color: #fff;
    /* Warna latar belakang putih */
    height: 5px !important;
    /* Ketebalan garis */
    width: 500px;
    /* Lebar garis */
    margin: 10px auto;
    /* Spasi atas dan bawah 10px, dan tengah secara horizontal */
    border: none;
    /* Hapus border default jika ada */
}

.custom-hr-dark {
    background-color: #2f3082;
    /* Warna latar belakang putih */
    height: 5px !important;
    /* Ketebalan garis */
    width: 500px;
    /* Lebar garis */
    margin: 10px auto;
    /* Spasi atas dan bawah 10px, dan tengah secara horizontal */
    border: none;
    /* Hapus border default jika ada */
}

.service-card {
    box-sizing: border-box;
    background: rgba(217, 217, 217, 0.58);
    border: 1px solid grey;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.1);
    border-radius: 0px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: black;
}

.service-card:hover {
    border: 1px solid black;
    transform: scale(1.05);
}

.service-card:active {
    transform: scale(0.95);
}

.no-decor {
    text-decoration: none;
    border: none;
    background-color: none;
    color: #000;
}

.about-section,
.service-section,
.contact-section {
    width: 100vw !important;
}

.address {
    font-size: 14px;
}

.caro-img {
    filter: brightness(0.6) !important;
}

@media (max-width: 767px) {
    /* Untuk tampilan mobile, elemen akan menjadi rata tengah */
    .mobile-center {
        text-align: center;
    }
}

@media (max-width: 767px) {
    .btn-whatsapp,
    .btn-email {
        text-align: center;
        display: block;
        margin: 0 auto;
        background-color: #0574db;
        color: #fff;
        border: #0574db solid 1px;
    }
}

.btn-whatsapp,
.btn-email {
    background-color: #0574db;
    color: #fff;
    border: #0574db solid 1px;
    width: 150px;
    font-weight: bold;
}

@media (min-width: 768px) {
    .connect {
        position: fixed;
        bottom: 20px;
        right: 20px;
        display: flex;
        flex-direction: row-reverse;
        gap: 10px;
    }

    .btn-whatsapp,
    .btn-email {
        flex-shrink: 0;
    }
}

.hero-part {
    margin-top: 180px;
}

.background-image {
    position: relative;
    z-index: -1;
}

.text-over-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    /* Warna teks sesuai kebutuhan Anda */
}

.partner-color {
    color: #000;
    Warna isi teks
    -webkit-text-stroke: 0.5px #fff;
}

.glass-nav {
    background: linear-gradient(
        rgba(255, 255, 255, 0.00001),
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.00001)
    );
    backdrop-filter: blur(5px); /* Efek blur pada latar belakang navbar */
    border-radius: 10px;
    padding: 10px;
}

.glass-nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.glass-nav li {
    margin: 0 10px;
}

.glass-nav a {
    text-decoration: none;
    color: #000 !important;
    font-weight: bold;
    transition: color 0.3s;
}

.glass-nav a:hover {
    color: #fff !important; /* Warna teks saat hover */
}

.modal-content {
    background: rgba(
        255,
        255,
        255,
        0.8
    ); /* Warna latar belakang dengan opacity */
    backdrop-filter: blur(10px); /* Efek blur pada latar belakang modal */
}

.collapse-img {
    border-radius: 50px 0px 50px 0px;
}

.service-icon {
    width: 40% !important;
    height: auto;
}

.contact-icon{
    width: 40px !important;
    height: auto;
}

.about-text{
    font-size: 14px;
}

.btn-contact{
    width: 100% !important;
}